<title>Credencias_resultado</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/auth.css">
<form action="/credenciais" method="post">
    <h1>Chave de autenticação</h1>
    <label>Apenas pessoas autorizadas</label>
    <%if(erro){%> <div style="color: red;"><%=erro%></div> <%}%>

    <input class="input" type="text" name="user" placeholder="Usuário ex: usuario07" required>
    <input class="input" type="password" name="chave" placeholder="Chave ex: v24fg45tt" required>
    <button>Verificar</button>
    <div>Não tem autorizacao? <a href="/login">Sair</a></div>
</form>