<title>Credencias_resultado</title>
<style>
    *{font-family: system-ui;}
    body{font-family: system-ui;background: #f4f4f9;display: flex; 
    justify-content: center;padding: 50px; align-items: center;}
    form{background: white;padding: 2rem; border-radius: 8px;box-shadow: 0 4px 6px #36363681; width: 100%;max-width: 400px}
    .input{width: 100%;padding: 10px;margin: 10px 0;border: 1px solid #ddd;border-radius: 6px;box-sizing: border-box; font-size: 18px;}
    button{ width: 100%;padding: 10px;background: #28a745;color: white;border: none;border-radius: 4px;cursor: pointer;font-size: 16px;}
    button:hover{background: #218838;}
    div{ margin-top: 10px; margin-bottom: 10px;}
    h1{color: #333;text-align: center; margin-bottom: 0;}
    label{color: #999;}
    a{color: #0000ff;}
</style>
<form action="/credenciais" method="post">
    <h1>Chave de autenticação</h1>
    <label>Apenas pessoas autorizadas</label>
    <%if(erro){%> <div style="color: red;"><%=erro%></div> <%}%>

    <input class="input" type="text" name="user" placeholder="Usuário ex: usuario07" required>
    <input class="input" type="password" name="chave" placeholder="Chave ex: v24fg45tt" required>
    <button>Verificar</button>
    <div>Não tem autorizacao? <a href="/login">Sair</a></div>
</form>
<script>
    const pass=document.getElementById('pass')
    const check=document.getElementById('check')

    check.addEventListener('change', ()=>{
        pass.type=check.checked? 'text': 'password'
    })
</script>