<title>Sys_voto</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/main.css">

<body>
    <div class="page-header">
        <h1>Bem-vindo<% if(nome){ %> <span class="user-name"><%=nome%></span> <% } %></h1>
        <a class="a page-header__logout" href="/login">Sair</a>
    </div>
    
    <form action="/votar" method="post">
        <%if(erro){%> <div style="color: red;"><%=erro%></div> <%}%>
        <fieldset>
            <legend>Presidencia</legend>
            <label><input type="radio" name="pr" value="1">Amelia</label>
            <label><input type="radio" name="pr" value="2">Edson</label>
            <label><input type="radio" name="pr" value="3">Germano</label>
            <label><input type="radio" name="pr" value="4">Preciosa</label>
        </fieldset>
        <fieldset>
            <legend>Secretariado</legend>
            <label><input type="radio" name="sc" value="1">Archer</label>
            <label><input type="radio" name="sc" value="2">Clédio</label>
            <label><input type="radio" name="sc" value="3">David</label>
            <label><input type="radio" name="sc" value="4">Samira</label>
        </fieldset>
        <fieldset>
            <legend>Estaticista</legend>
            <label><input type="radio" name="es" value="1">Auneta</label>
            <label><input type="radio" name="es" value="2">Hilário</label>
            <label><input type="radio" name="es" value="3">José</label>
            <label><input type="radio" name="es" value="4">Luana</label>
        </fieldset>
        <button type="submit">Votar</button>
        <a href="/credenciais">Ver resultados</a>
    </form>
</body>