<title>Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/auth.css">
<form action="/login" method="post">
    <h1>Login</h1>
    <% if(erro){%> <div style="color: red;"><%=erro%></div> <%}%>

    <input class="input" type="email" name="email" placeholder="E-mail" required>
    <input class="input" type="password" name="senha" id="pass" placeholder="Palavrapass" required>
    <div><input type="checkbox" id="check"> Ver senha</div>
    <button>Logar</button>
    <div class="form-row small-text">Não tem conta? <a href="/registro">Registre-se aqui!</a></div>
    <div class="form-row small-text">Entrar como ADM <a class="adim" href="/credenciais">Aqui!</a></div>
</form>
<script>
    const pass=document.getElementById('pass')
    const check=document.getElementById('check')

    check.addEventListener('change', ()=>{
        pass.type=check.checked? 'text': 'password'
    })
</script>