<title>Registro</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/auth.css">
<form action="/registro" method="post">
    <h1>Registro</h1>
    <%if(erro){%> <div style="color: red;"><%=erro%></div> <%}%>

    <input class="input" type="text" name="nome" placeholder="Nome do usuário" required>
    <input class="input" type="email" name="email" placeholder="E-mail" required>
    <input class="input" type="password" name="senha" id="pass" placeholder="Palavrapass" required>
    <div><input type="checkbox" id="check"> Ver senha</div>
    <button>Registrar</button>
    <div>Tem conta? <a href="/login">Faça login</a></div>
</form>
<script>
    const pass=document.getElementById('pass')
    const check=document.getElementById('check')

    check.addEventListener('change', ()=>{
        pass.type=check.checked? 'text': 'password'
    })
</script>